.title {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 44px;
    text-transform: uppercase;
}

.row {
    display: grid;
    width: 100%;
    grid-template-areas: "card1 card2";
    grid-gap: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.cardLeft {
    grid-area: card1;
}

.cardRight {
    grid-area: card2;
}

.cardRight,
.cardLeft {
    position: relative;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    overflow: hidden;
}

.cardDetails {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transition: all 0.35s ease;
}

.detailTitle {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.cardDetails button {
    background-color: red;
    padding: 0.35rem 1rem;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 600;
    color: #fff;
    font-size: 1.2rem;
}

.cardImage {
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
}

.cardLeft:hover .cardImage,
.cardRight:hover .cardImage {
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
}

.cardLeft:hover .cardDetails,
.cardRight:hover .cardDetails {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}