.title {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 44px;
    text-transform: uppercase;
}

.categorieListName {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.categorieName {
    border: solid 2px #444;
    padding: 1rem;
    margin: 0.75rem;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.categorieName:hover {
    background-color: black;
    color: #fff;
}

.card {
    width: 320px;
    height: 340px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    filter: blur(0.3);
    -webkit-filter: blur(0.8);
    background: rgba(40, 40, 40, 0.2);
    text-align: center;
}

.cardImage {
    filter: grayscale(0.5);
    -webkit-filter: grayscale(0.5);
    width: 200px;
    height: 200px;
}

.card:not(:first-of-type) {
    margin-left: 1rem;
}

.cardDetails {
    width: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.card:hover .cardImage {
    transition: all 0.35s ease;
    filter: grayscale(0);
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -webkit-filter: grayscale(0);
}

.row {
    display: flex;
    overflow-x: auto;
}